@import "../../../../assets/scss/shadow";

:host {
	height: 460px;
}

.card {
	background: #ececec;
	border-radius: 10px;
	width: 260px;
	@media (max-width: 1440px) {
		max-width: 220px;
	}
	height: 100%;
	box-shadow: $shadow;
	transition: $shadow-transition;

	padding: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-between;

	&.day {
		background: url("../../../../assets/images/day.jpg");
		background-size: cover;
	}

	&.night {
		background: url("../../../../assets/images/night.jpg");
		background-size: cover;
	}

	&:hover {
		box-shadow: $shadow-hover;
		transform: scale(1.05);
	}

	&.no-shadow {
		box-shadow: none;

		&:hover {
			box-shadow: none;
		}
	}


	.city {
		color: white;
		text-align: center;
		font-size: 18px;
	}

	.weather {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		padding: 0 20px 10px 20px;

		.temperature {
			font-size: 4em;
			@media(max-width: 1440px) {
				font-size: 3em;
			}
		}
	}
}
