<div class="card" *ngIf="collapsed === cardState.STANDARD">
  <div class="card-main">
    <p class="city">{{weatherData.place.city}}</p>

    <p class="temperature">{{weatherData.temperature | temperature}}</p>

    <p class="status">{{weatherData.status}}</p>
  </div>
  <div class="divider">
    <div style="height: 60px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.10,106.08 C222.63,214.63 352.99,14.30 499.15,146.53 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #3A6073;"></path></svg></div></div>

  <div class="card-details">
    <div class="details-row">
      <div class="detail">
        <fa-icon [size]="'lg'" [icon]="windIcon"></fa-icon>
        <div class="data">
          <span class="title">Wind</span>
          <span class="info">{{weatherData.wind.speed}}</span>
        </div>
      </div>
      <div class="detail">
        <fa-icon [size]="'lg'" [icon]="thermometherIcon"></fa-icon>
        <div class="data">
          <span class="title">Temp.</span>
          <span class="info">{{weatherData.min | temperature}}/{{weatherData.max | temperature}}</span>
        </div>
      </div>
    </div>
    <div class="details-row">
      <div class="detail">
        <fa-icon [size]="'lg'" [icon]="cloudIcon"></fa-icon>
        <div class="data">
          <span class="title">Humidity</span>
          <span class="info">{{weatherData.humidity}}</span>
        </div>
      </div>
      <div class="detail">
        <fa-icon [size]="'lg'" [icon]="thermometherFull"></fa-icon>
        <div class="data">
          <span class="title">Feeling</span>
          <span class="info">{{weatherData.feeling | temperature}}</span>
        </div>
      </div>
    </div>

  </div>


</div>

<div class="card-closed" *ngIf="collapsed === cardState.CLOSED">
	<div class="city">
		{{weatherData.place.city}}
	</div>
</div>

<div class="card-expanded" *ngIf="collapsed === cardState.EXPANDED">
	<div class="card no-shadow">
		<div class="card-main">
			<p class="city">{{weatherData.place.city}}</p>

			<p class="temperature">{{weatherData.temperature | temperature}}</p>

			<p class="status">{{weatherData.status}}</p>
		</div>
		<div class="divider">
			<div style="height: 60px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.10,106.08 C222.63,214.63 352.99,14.30 499.15,146.53 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #3A6073;"></path></svg></div></div>

		<div class="card-details">
			<div class="details-row">
				<div class="detail">
					<fa-icon [size]="'lg'" [icon]="windIcon"></fa-icon>
					<div class="data">
						<span class="title">Wind</span>
						<span class="info">{{weatherData.wind.speed}}</span>
					</div>
				</div>
				<div class="detail">
					<fa-icon [size]="'lg'" [icon]="thermometherIcon"></fa-icon>
					<div class="data">
						<span class="title">Temp.</span>
						<span class="info">{{weatherData.min | temperature}}/{{weatherData.max | temperature}}</span>
					</div>
				</div>
			</div>
			<div class="details-row">
				<div class="detail">
					<fa-icon [size]="'lg'" [icon]="cloudIcon"></fa-icon>
					<div class="data">
						<span class="title">Humidity</span>
						<span class="info">{{weatherData.humidity}}</span>
					</div>
				</div>
				<div class="detail">
					<fa-icon [size]="'lg'" [icon]="thermometherFull"></fa-icon>
					<div class="data">
						<span class="title">Feeling</span>
						<span class="info">{{weatherData.feeling | temperature}}</span>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>
