<div class="header">
	Forecast
</div>
<div class="buttons">
	<button [ngClass]="{active: activeForecast === forecastType.TEMPERATURE}" (click)="setForecastType(forecastType.TEMPERATURE)">Temperature</button>
	<button [ngClass]="{active: activeForecast === forecastType.WIND}" (click)="setForecastType(forecastType.WIND)">Wind</button>
</div>

<div class="chart">
	<ngx-charts-line-chart
		*ngIf="chartData$ | async as chartData"
		[showXAxisLabel]="false"
		[showYAxisLabel]="false"
		[xAxis]="true"
		[yAxis]="true"
		[timeline]="true"
		[results]="activeForecast === forecastType.TEMPERATURE ? chartData.temperature : chartData.wind"
		[showGridLines]="true"
		[curve]="curve"
		[tooltipDisabled]="true"
		[scheme]="'night'"
		[autoScale]="true"
		[roundDomains]="true"
	>
	</ngx-charts-line-chart>
</div>
