:host{
	border-radius: 5px;
	height:100%;
	width:100%;
	display: flex;
	background: white;
	flex-direction: column;
	padding:20px;
	position:relative;
}

.header{
	text-align: center;
	font-weight: bold;
}

.buttons{
	margin-left:10px;
	margin-bottom:30px;
	display: flex;
	justify-content: space-between;

}

.chart{
	width:100%;
	height:100%;
	animation: 2s ease in;
}

.close{
	background:white;
	outline:none;
	padding:10px;
	border-radius: 100%;
	border: 1px solid #662e55;
	width:30px;
	height:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position: absolute;
	right: -15px;
	top: 50%;
}
