<div class="header">Forecast</div>
<div class="buttons">
	<div>
		<buttons [timeOfDay]="timeOfDay" [buttons]="forecastButtons" [active]="activeForecast" (selected)="setForecastType($event)"></buttons>
	</div>
	<div>
		<buttons [timeOfDay]="timeOfDay" [buttons]="hourButtons" [active]="numberOfHours" (selected)="changeHours($event)"></buttons>
	</div>
</div>

<div class="chart" *ngIf="forecast$ | async as forecast;else loader">
	<forecast-chart [timeOfDay]="timeOfDay" [data]="forecast" [forecastType]="activeForecast" [selectedPeriod]="numberOfHours"></forecast-chart>
</div>

<button class="close" (click)="close.emit()">X</button>


<ng-template #loader>
	<div class="loader" *ngIf="!chartLoaded">
		<loader></loader>
	</div>
</ng-template>
