<!--	Current status icon-->
<fa-icon [icon]="currentWeatherIcon" [size]="'lg'"></fa-icon>
<!--	Current status icon-->
<!--	Current status text-->
<span>{{data.weather.status}}</span>
<!--	Current status text	-->

<div class="details-info">
	<!--		Average Temperature-->
	<div class="temperature">
		<fa-icon [icon]="thermometherIcon"></fa-icon>
		{{data.weather.temperature.min | temperature}} / {{data.weather.temperature.max | temperature}}
	</div>
	<!--		Average Temperature-->
	<!--		Wind-->
	<div class="wind">
		<fa-icon [icon]="windIcon"></fa-icon>
		{{data.weather.wind.speed}}
	</div>
	<!--		Wind-->

</div>
