<ngx-charts-line-chart
	[view]="[850, 350]"
	*ngIf="chartData$ | async as data"
	[showXAxisLabel]="false"
	[showYAxisLabel]="false"
	[xAxis]="true"
	[yAxis]="true"
	[timeline]="true"
	[results]="forecastType === forecastTypes.TEMPERATURE ? data.temperature : data.wind"
	[showGridLines]="true"
	[curve]="curve"
	[tooltipDisabled]="true"
	[scheme]="timeOfDay === 'day' ? 'flame' : 'nightLights'"
	[autoScale]="true"
	[roundDomains]="true"
	[yAxisTickFormatting]="formatYAxis"
>
</ngx-charts-line-chart>
