<div class="card-wrapper"  >
	<div class="card" *ngIf="currentState !== cardState.CLOSED">
		<card [weatherData]="weatherData" (click)="handleCardClick()" [timeOfDay]="timeOfDay">
		</card>
	</div>
	<div class="details" *ngIf="currentState === cardState.EXPANDED">

		<card-details [@grow] [timeOfDay]="timeOfDay" (close)="close()"></card-details>
	</div>
	<div class="closed" *ngIf="currentState === cardState.CLOSED">

		<card-closed [weatherData]="weatherData" (click)="openDetails.emit(weatherData)"></card-closed>
	</div>
</div>
