<div class="container">
<!--	<div class="card-wrapper" *ngIf="currentWeather$ | async as currentWeathers; else loading">-->
<!--		<card *ngFor="let place of currentWeathers" [weatherData]="place">-->
<!--		</card>-->
<!--	</div>-->
	<div class="card-wrapper" *ngIf="currentWeather$ | async as currentWeathers; else loading">
		<div class="expanded-card">
			<ngx-charts-line-chart
				[showXAxisLabel]="false"
				[showYAxisLabel]="false"
				[xAxis]="true"
				[yAxis]="true"
				[timeline]="true"
				[results]="data"
				[showGridLines]="true"
			>
			</ngx-charts-line-chart>
		</div>
	</div>

	<ng-template #loading>
		<h1>LOADING</h1>
	</ng-template>

</div>
